:host {
  display: block;
}

nav {
  background-color: transparent;
  transition: background-color 0.3s ease, padding 0.3s ease;
  box-shadow: none;

  &.scrolled {
    background-color: #111827 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}
